* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

em {
  font-size: large;
}

main {
  margin: 1em;
  line-height: 1.65em;
}

footer {
  text-align: center;
  font-size: 1em;
}

a:hover {
  font-size: 1.1em;
}

a:visited {
  color: #0000ff;
}

.cat_grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  border: solid 0.25em #003b6d;
}

.cat_grid img {
  width: 100%;
  height: 100%;
}

.main_content {
  display: flex;
  align-items: flex-start;
}

.text_main {
  flex: 1;
}

.bird_box {
  display: flex;
  align-items: flex-start;
}

.bird_text {
  flex: 1;
}

.bird_img {
  flex: 1;
  max-width: 40%;
  height: auto;
  border: solid #003b6d 0.6em;
  margin: 0.5em;
}

.main_grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  border: solid 0.25em #003b6d;
  float: right;
  margin: 1em;
}

.main_grid img {
  width: 100%;
  height: 100%;
}

.dog_pg {
  display: flex;
  align-items: flex-start;
}

.dog_text {
  flex: 1;
}

.google_font {
  font-family: "Italiana", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.sub_head {
  font-family: "Italiana", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: larger;
}

.search i {
  color: #ffffff;
}

.footer_logo {
  width: 2%;
  height: auto;
}

.contact {
  display: flex;
  align-items: flex-start;
}

.contact form {
  flex: 1;
}

.contact img {
  flex: 1;
  max-width: 40%;
  height: auto;
  border: solid #003b6d 0.6em;
  margin: 0.5em;
}

#text_cat {
  margin: 0.25em;
}

#main_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  column-gap: 2em;
  background-color: #003b6d;
}

#main_header .search {
  justify-self: end;
  padding-right: 1em;
}

#logo_h1 {
  width: 50%;
  height: auto;
  padding: 0.5em;
}

#slogan {
  color: white;
  text-align: center;
  font-family: "Italiana", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.35em;
}

#dog_img {
  width: 20%;
  height: auto;
  margin: 1em;
}
